/*
  css/style.css

  RGSS3-MACL Stylesheet by IceDragon
*/
@charset "utf-8";

body 
{
  /*width: 1280px;*/
  width: 95%;
  height: auto;
  background-color: #161616;
  font-family: 'Gudea', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  /*font-size: 13px;*/
  /*font-size: 85%;/*24px;*/*/
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.4;
  color: #888888;
  margin: auto;/*0px;*/
  /*margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px; */
  vertical-align: top;
  text-align: left;
}

h1, h2, h3, h4, h5, h6
{
  margin: 1px;
}

p {

  margin-top: 0px ;
  margin-bottom: 0px;
}

a:link    {
  color: #F92672;
  text-decoration:none;
}

a:visited {color: #66D9EF;}

a:hover   {color: #FD971F;}

a:active  {color: #A6E22E;}


.colorVariable
{
  color: #CFCFC2;
}

.colorCore
{
  color: #F92672;
}

.colorBrak
{
  color: #CFCFC2;
}

.colorModule
{
  color: #CFCFC2; 
}

.colorKlass
{
  color: #66D9EF;
}

.colorFunction
{
  color: #A6E22E;
}

.colorOperator
{
  color: #F92672;
}

.colorNumeric
{
  color: #AE81FF;
}

.colorBoolean
{
  color: #AE81FF;
}

.colorArg
{
  color: #FD971F;
}

.pageHeader 
{
  text-align: center;
  border: thin solid #3d3d3d;
  border-radius: 4px;
  margin: 4px; 
  margin-left: 0px;
  margin-right: 0px;  
}

.pageFooter
{
  text-align: center;
  border: thin solid #3d3d3d;
  border-radius: 4px;
  margin: 4px; 
  margin-left: 0px;
  margin-right: 0px;
  /* margin-bottom: 0px; */
}

.pageBody 
{
  border: thin solid #3d3d3d;
  border-radius: 4px;
  margin: 4px; 
  margin-left: 24px;
  margin-right: 24px;
  /*background-color: ;*/
}

.pageContents
{
  margin: 0.6%;
  background-color: #232323;
  border: thin solid #3D3D3D;
  border-radius: 4px;
}

.pageSubHeader
{
  font-size: 24px; 
  margin-bottom: 0px;
  margin-left: 4px;
}

.klassBody 
{
  background-color: #232323;
  /* border: thin solid #3D3D3D; */
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
}

.klassBody:hover
{
  background-color: #1E2E3A;
}

.klassLink
{
  margin: 2px;
  /*width: 20%;*/
  text-align: center;
  font-size: 200%;
  font-style: oblique;  
  background-color: #2C2C2C;
  /* border: thin solid #3D3D3D; */
  border-radius: 4px;
  padding: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;
}

.methodBody 
{
  background-color: #232323;
  /*border: thin solid #3D3D3D; */
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
}

.methodBody:hover
{
  background-color: #1E2E3A;
}

.methodName
{
  font-size: 105%;
  margin: 0.4%;
  /*margin-right: 80%;*/
  background-color: #2C2C2C;
  /*background-color: #1F1F1F;*/
  color: #A6E22E;
  /*border: thin solid #3D3D3D;*/
  border-radius: 4px;
  padding: 2px;
  /*display: inline-block;*/
}

.methodArg 
{
  color: #FD971F;
  font-style: normal;
  font-style: oblique;
  font-size: 95%;
}

.methodParameters
{
  font-size: 150%;
  color: #CFCFC2;
}

.methodParamType
{
  color: #66D9EF;
  font-size: 100%;
  margin-left: 0.5%;
}

.buttonViewSource
{
  text-align: right;
  text-decoration:none;
  margin: 2px;
  padding: 2px 2px;
  font-weight:bold;
  display:inline-block;
  width: auto;
  background-color: #272822;
  border: thin solid #171812;
  border-radius: 4px;
}

.buttonViewSource:hover 
{
  background-color: #373832;
}

.buttonViewSource:active 
{
  position:relative;
  top: 1px;
}

